[package]
name = "iota-client"
version = "2.0.0-alpha.1"
authors = ["IOTA Stiftung"]
edition = "2021"
rust-version = "1.60"
description = "An experimental client library for interacting with IOTA (a.k.a. the Tangle)"
documentation = "https://wiki.iota.org"
homepage = "https://iota.org"
repository = "https://github.com/lmy441900/atoi.rs"
license = "Apache-2.0"
keywords = ["iota", "tangle", "client"]
categories = ["cryptography::cryptocurrencies"]
publish = false

[dependencies]
async-trait = { version = "0.1.52", default-features = false }
derive_builder = { version = "0.10.2", default-features = false, optional = true }
log = { version = "0.4.14", default-features = false }
reqwest = { version = "0.11.9", default-features = false, optional = true }
rumqttc = { version = "0.11.0", default-features = false, optional = true }
thiserror = { version = "1.0.30", default-features = false }
tokio = { version = "1.17.0", default-features = false, features = ["rt-multi-thread"], optional = true }
ureq = { version = "2.4.0", default-features = false, optional = true }
url = { version = "2.2.2", default-features = false }

[build-dependencies]
cargo-lock = { version = "7.0.1", default-features = false }

[features]
# For the meanings and combinations of features, consult the API documentation.
default = ["async", "reqwest", "rumqttc", "tls-native", "mnemonic"]

client = ["dep:derive_builder"]
# sync = ["client"] # unimplemented
async = ["client", "dep:tokio"]

comm = []
http = ["comm"]
ureq = ["http", "dep:ureq"]
reqwest = ["http", "dep:reqwest"]
curl = ["http"]

mqtt = ["comm"]
rumqttc = ["mqtt", "dep:rumqttc"]

tls-webpki = ["reqwest?/rustls-tls-webpki-roots", "ureq?/tls"]
tls-native = ["reqwest?/rustls-tls-native-roots", "ureq?/tls", "ureq?/native-certs"]

signer = []
mnemonic = ["signer"]
stronghold = ["signer"]
ledger = ["signer"]

ffi = []
